.logoContainer {
    position: relative;
    width: 100%;
    padding-bottom: 10.22%; /* 47 / 460 = 0.1022 */
  }
  
  .logoSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .logoWhite {
    filter: brightness(0) invert(1);
  }